.calc-buttons {
    width: 480px;
    height: 416px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    padding: 32px 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

}
.calc-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 550px) {
    .calc-buttons {
        width: 279px;
        height: 420px;
        border-radius: 10px;
        padding: 24px;
    }
}