.header {
    width: 533px;
    height: 44px;
    font-family: 'League Spartan', sans-serif;
    color: var(--textColor);
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media only screen and (max-width: 550px) {
    .header {
        width: 320px;
        height: 42px;
    }
}

