.equal {
    width: 227px;
    background-color: var(--equalBtnColor);
    color: var(--btn3TextColor);
    border-bottom: 4px solid var(--borderEqualBtnColor);
    font-size: 28px;
}

.equal:hover {
    background-color: var(--activeEqualBtnColor);
}

@media only screen and (max-width: 550px) {
    .equal {
        width: 133px;
        font-size: 20px;
    }
}