.secondary {
    width: 101px;
    background-color: var(--secondBtnColor);
    color: var(--btn2TextColor);
    border-bottom: 4px solid var(--borderSecondBtnColor);
    font-size: 28px;
}

.secondary:hover {
    background-color: var(--activeSecondBtnColor);
}

@media only screen and (max-width: 550px) {
    .secondary {
        width: 60px;
        font-size: 20px;
    }
}