.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 540px;
  height: 708px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calc {
  width: 540px;
  height: 632px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}