.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColor);
  transition: all .3s;
}

.main {
  height: 706px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calc {
  height: 632px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 550px) {
  .main {
    height: 604px;
  }

  .calc {
    height: 532px;
  }
}