.calc-screen {
    width: 540px;
    height: 128px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calc-result {
    font-family: 'League Spartan', sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: var(--textColor);
    padding-right: 32px;
    letter-spacing: -0.93px;
}

@media only screen and (max-width: 550px) {
    .calc-screen {
        width: 327px;
        height: 88px;
    }

    .calc-result {
        font-size: 40px;
        padding-right: 25px;
        letter-spacing: -0.67px;
    }
}
